html {
  position: relative;
  min-height: 100%;
  /* touch-action: none; */
}

body {
  /* margin-bottom: 60px; */
  /*font-family: Ubuntu, "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
}

/* *::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
  outline: 1px solid slategrey;
} */

.cssload-container {
  display: none;
	margin: 0 auto;
	width: 97px;
  z-index: 9999;
}

.cssload-container *, .cssload-container *:before, .cssload-container *:after {
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	border-radius: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	transition: all 230ms ease;
		-o-transition: all 230ms ease;
		-ms-transition: all 230ms ease;
		-webkit-transition: all 230ms ease;
		-moz-transition: all 230ms ease;
}
.cssload-circle:nth-child(1) {
	z-index: 2;
	background: rgb(231,77,60);
	animation-name: cssload-explode;
		-o-animation-name: cssload-explode;
		-ms-animation-name: cssload-explode;
		-webkit-animation-name: cssload-explode;
		-moz-animation-name: cssload-explode;
	animation-duration: 1.15s;
		-o-animation-duration: 1.15s;
		-ms-animation-duration: 1.15s;
		-webkit-animation-duration: 1.15s;
		-moz-animation-duration: 1.15s;
	animation-timing-function: ease;
		-o-animation-timing-function: ease;
		-ms-animation-timing-function: ease;
		-webkit-animation-timing-function: ease;
		-moz-animation-timing-function: ease;
	animation-delay: 0;
		-o-animation-delay: 0;
		-ms-animation-delay: 0;
		-webkit-animation-delay: 0;
		-moz-animation-delay: 0;
	animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
}
.cssload-circle:nth-child(2) {
	background: rgb(44,62,80);
	animation-name: cssload-explode;
		-o-animation-name: cssload-explode;
		-ms-animation-name: cssload-explode;
		-webkit-animation-name: cssload-explode;
		-moz-animation-name: cssload-explode;
	animation-duration: 1.15s;
		-o-animation-duration: 1.15s;
		-ms-animation-duration: 1.15s;
		-webkit-animation-duration: 1.15s;
		-moz-animation-duration: 1.15s;
	animation-timing-function: ease;
		-o-animation-timing-function: ease;
		-ms-animation-timing-function: ease;
		-webkit-animation-timing-function: ease;
		-moz-animation-timing-function: ease;
	animation-delay: 0.58s;
		-o-animation-delay: 0.58s;
		-ms-animation-delay: 0.58s;
		-webkit-animation-delay: 0.58s;
		-moz-animation-delay: 0.58s;
	animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
}

@keyframes cssload-explode {
	0% {
		width: 0;
		height: 0;
		z-index: 1;
	}
	50% {
		width: 10em;
		height: 10em;
		z-index: 1;
	}
	100% {
		display: none;
	}
}

@-o-keyframes cssload-explode {
	0% {
		width: 0;
		height: 0;
		z-index: 1;
	}
	50% {
		width: 10em;
		height: 10em;
		z-index: 1;
	}
	100% {
		display: none;
	}
}

@-ms-keyframes cssload-explode {
	0% {
		width: 0;
		height: 0;
		z-index: 1;
	}
	50% {
		width: 10em;
		height: 10em;
		z-index: 1;
	}
	100% {
		display: none;
	}
}

@-webkit-keyframes cssload-explode {
	0% {
		width: 0;
		height: 0;
		z-index: 1;
	}
	50% {
		width: 10em;
		height: 10em;
		z-index: 1;
	}
	100% {
		display: none;
	}
}

@-moz-keyframes cssload-explode {
	0% {
		width: 0;
		height: 0;
		z-index: 1;
	}
	50% {
		width: 10em;
		height: 10em;
		z-index: 1;
	}
	100% {
		display: none;
	}
}

h1 {
  font-size: 1.5rem;
}

.badge {
  white-space: inherit;
}

label {
  margin-bottom: 0;
}

.modal {
  overflow-wrap: break-word;
}

/* to sm */
@media (max-width: 575.98px) {

  .swal2-modal {
    width: 100% !important;
  }

}

/* temp fix height select on mobile app */
.form-control {
  font-size: calc(0.9375rem + 3px);
}

.hr {
  border-top: 6px dotted #eee;
  height: 0px;
}
.hr .hr-text {
  background-color: #fff;
  line-height: 0;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px !important;
  padding: 0;
  border-radius: 50% !important;
}

.btn-circle i {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}
.btn-circle-lg i {
  font-size: 1.5rem;
  line-height: 3.25rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

#quiz-month-area {
  padding-left: 5px;
  padding-right: 5px;
}
#quiz-month-area .row {
  margin-bottom: 30px;
}
#quiz-month-area .row .col-4 {
  padding-left: 5px;
  padding-right: 5px;
}
#quiz-month-area .row .btn {
  line-height: 4;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card .text-backdrop {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 10px;
}

#result-screen .sticky-top {
  /* margin-bottom: 20px; */
  background: #fff;
  padding: 10px 0;
}

#result-screen .text-success {
  color: #0aed92 !important;
}
#result-screen .text-warning {
  color: #ffe935 !important;
}

#cards-area .card {
  border: none;
}
#cards-area .card img {
  object-fit: cover;
  height: 450px;
  width: 100%;
}
#cards-area .card .card-img-overlay {
  /* padding-right: 2.25rem; */
}

body {
  overflow-x: hidden;
}

/* .stack {
  height: 600px;
  width: 100%;
}

.stack .card {
  border: none;
  box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
  cursor: pointer;
  display: none;
  position: absolute;
  left: 0;
  height: 600px;
  width: 100%;
}
.stack .card.in-deck {
  display: block;
}

.stack .card img {
  height: 100%;
}

.stack-description {
  position: absolute;
  bottom: 90px;
  margin-right: 20px;
}
.stack-season {
  position: absolute;
  bottom: 10px;
  margin-right: 20px;
} */
